.modal-container {
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Set a maximum width */
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.title {
  color: hsl(212, 24%, 26%);
  font-size: large;
  font-weight: bold;
}

.content {
  color: hsl(211, 10%, 45%);
  font-size: small;
}

.button {
  padding: 5px 15px;
  color: white;
  border: none;
  border-radius: 5px;
}

.button-container {
  display: flex;
  gap: 20px;
}

.softRedColor {
  background-color: hsl(358, 79%, 66%);
}

.grayishBlueColor {
  background-color: hsl(211, 10%, 45%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.pointer {
  cursor: pointer;
}
